body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    color:white;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    border-bottom: 0.2vw solid #fff;
}

a{
    color:#fff;
    text-decoration: none;
    cursor: pointer;
}

.head-right{
    display: flex;
    gap: 30px;
}

.container{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
    color: white;
    background-color: black;
    font-family: 'Inter', sans-serif;
    border: none;
    border-bottom: 0.1vw white solid;
    height: 3vw;
    margin-bottom: 1vw;
}
input:focus{
    outline: none;
}
button{
    width: 10vw;
    height: 4vw;
}

#signText{
    font-weight: 400;
}

.profile-container{
    padding: 2vw;
    font-size: 3vw;
}
.profile-container div{
    margin-bottom: 2vw;
}

#profileText{
    font-weight: 400;
    font-size: 3vw;
}


